* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    color: yellow;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 65px;
}

h1.green {
    color: green;
}

img.shoe {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

/* main */
.full-page {
    height: 100vh;
}

.red-page {
    background-color: red;
}

.green-page {
    background-color: green;
}

.yellow-page {
    background-color: yellow;
}

img.third-shoe {
    padding-top: 100px;
}

/* menù */
.menù {
    position: fixed;
    top: 20px;
    right: 10px;
    
}

a {
    display: inline-block;
    color: black;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}